<div class= "columns">
  <% @types.each do |type| %>
    <div class="column col-4 col-mx-auto pokedex-entry">
      <div class="panel custom-panel">
        <div class="panel-header text-center">
          <div class="panel-title h5 mt-10"><%= type.name.capitalize.tr('-', ' ') %></div>
        </div>
        </div>
      </div>
  <% end %>
</div>