<div class= "columns">
  <% @moves.each do |move| %>
    <div class="column col-4 col-mx-auto pokedex-entry">
      <div class="panel custom-panel">
        <div class="panel-header text-center">
          <div class="panel-title h5 mt-10"><%= move.name.capitalize.tr('-', ' ') %></div>
        </div>
        </div>
      </div>
  <% end %>
</div>